h1 {
  text-decoration: underline;
  font-size: 250%;
  text-align: center;
}

p{
  background-color: red;
  border-style: solid;
  padding: 100px;
  margin: 100px;

}

#column_one{
  text-align: center;
  width: 40%;
  padding: 5%;

}

#column_two{
  float: right;
  width: 40%;
  padding: 5%;
  border-style: solid;
  border-color: pink;

}


#column_three{
  padding: 5%;

}
